*{
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
    font-weight: 600;
}

button{
    cursor: pointer;
}

.content{
    padding: 1rem;
    margin: auto;
    height: 100vh;
    background: #f5f5dc;
    border: 2px solid bisque;
    border-radius: 1rem;
}

.content h1{
    margin: 0;
    padding: 1rem;
    color: #313030;
}

.content .btn-loadMore{
    border-radius: 1rem;
    border-style: none;
    padding: 0.5rem;
    margin: 1rem;
    background: #b5b5ee;
    color: #413f3f;
}


@media screen and (min-width: 992px) {
    .content {
        max-width: 992px;
    }
}

@media screen and (min-width: 1326px) {
    .content {
        max-width: 1326px;
    }
}