*{
    font-family: "Roboto", sans-serif;
    color: #ffffff;
    box-sizing: border-box;
    font-weight: 600;
}

body{
    background: #f5f5dc;
}

.content{
    height: 100vh;
    background-color: #77c850;
    border-radius: 0;
    position: relative;
}

.general-info{
    margin: 1rem;
}

.about{
    background-color: #ffffff;
    text-align: center;
    border-radius: 3rem 3rem 0 0;
    padding: 2rem 1rem;
    bottom: 0;
    left: 0;
    width: 100%;
    position: absolute;
}

.btn-return{
    margin-top: 2rem;
    padding: 0.5rem;
    border-radius: 2rem;
    border-style: none;
    background: #c6c6ff;
    color: #877272;
}

.content h1{
    color: #ffffff;
    text-transform: capitalize;
    padding: 0;
    margin-top: 1.5rem;
}

#id{
    float: right;
}

ol.types{
    list-style: none;
    padding: 0;
    margin: 0;
    display: inline-flex;
    flex-direction: row;
}

ol .type{
    margin: 0.25rem 0.2rem;
    padding: 0.2rem 1rem;
    text-align: center;
    font-size: 0.8rem;
    text-transform: capitalize;
    border-radius: 1rem;
    background: #c5c3c370;
}

.about table{
    width: 100%;
    text-align: left;
}

.about td{
    color: #000000;
    text-transform: capitalize;
}

.about th{
    color: #aba7a7;
    padding: 0.5rem 0; 
    width: 6.25rem; 
}

.breeding{
    margin-top: 1rem;
}

.breeding #title-table{
    color: #000000;
    font-size: 1.3rem;  
}

.general-info .pokemon-image{
    text-align: center;
    margin: 1rem;
}

@media screen and (max-height: 810px){
    .about{
        border-radius: 3rem 0rem 0 3rem;
        top: 13rem;
        right: 0;
        left: initial;
        position: absolute;
        width: max-content;
    }

    .general-info .pokemon-image{
        text-align: left;
        margin: 2rem;
        margin-top: 4rem;
    }
}

@media screen and (min-width: 992px) {
    .content {
        max-width: 770px;
    }
}